@{
    ViewBag.Title = "DeleteClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.SuccesMessage != null)
       {
           <div style="font: 15px bold; color:green;">
               @ViewBag.SuccesMessage
           </div>
       }

         @if (ViewBag.ErrorMessage != null)
         {
           <div style="font: 15px bold; color:red;">
               @ViewBag.ErrorMessage
           </div>
         }
